

<h2>Заморские подарки</h2>
<div>
    <div>
        <button class="btn" style="background: #d83c3c;">Перейти на страницу магазина на Prom.ua</button>
        <br />
    </div>
    <div>
        <br />
        <br />
        Адрес: <span>ТЦ Барабашово площадка 21-01, магазин № 358 (Опт-Розница), 
        Харьков, Украина</span> <br />        
        Телефон: <span>+380 (68) 820-21-61</span> <br />
        <hr />
        <h3>Оценки и характеристики</h3>
        <div>
            <b>Средняя оценка:</b><span></span> 91%<br />
            <b>Товар в наличии:</b> <span></span> 91%<br />
            <b>Цена актуальна:</b> <span></span> 91%<br />
            <b>Доставка в срок:</b> <span></span> 90%<br />
            <b>Положительных отзывов:</b> <span></span> 93%<br />
            <b>Всего отзывов:</b> <span></span> 31<br />
        </div>
    </div>
    <div>
        <hr />
        <h4>Добавить отзыв: </h4>
<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Оценка
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">5</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">1</a></li>
    </ul>
</div>
        <textarea class="form-control">

        </textarea> <br />
        
    </div>
    <div>
        <h3>Отзывы для магазина <span>Заморские подарки</span></h3>
        <div>
            <b>Оценка:</b> 5
            <div class="form-control">Хороший магазин и товары интересные.</div>
        </div>
    </div>
</div>